{% extends "base.html" %}

	{% block title -%}
		[Admin] Create user
	{%- endblock %}

	{% block body -%}
		<form action="" method="post">
			{{ form.hidden_tag() }}
			<p>{{ form.nickname(placeholder=form.nickname.label.text) }}</p>
			<p>{{ form.email(placeholder=form.email.label.text) }}</p>
			<p>{{ form.discord_id(placeholder=form.discord_id.label.text) }}</p>
			<p>{{ form.password(placeholder=form.password.label.text) }}</p>
			<p>{{ form.password_repeat(placeholder=form.password_repeat.label.text) }}</p>
			<p>{{ form.admin.label.text }} {{ form.admin() }}</p>
			<p><input type="submit" value="Save"></p>
		</form>
	{%- endblock %}
