{% extends "base.html" %}

	{% block title -%}
		[Admin] Substitute user
	{%- endblock %}

	{% block body -%}
		{%- with messages = get_flashed_messages() %}
			{%- if messages %}

		{# -#}		<div>
					{%- for message in messages %}
			{# -#}			<p>{{ message }}</p>
					{%- endfor %}
		{# -#}		</div>
			{%- endif %}
		{%- endwith %}

		<form action="" method="post">
			{{ form.hidden_tag() }}
			<p>{{ form.user(placeholder=form.user.label.text) }}</p>
			<p><input type="submit" value="Subs" style="color: green;"></p>
		</form>
	{%- endblock %}
