body {
	background-color: #111;
	color: white;
}

#tasks {
	column-rule-color: #522719;
}

.task-popup-background {
	opacity: 0 !important;
}

.task-popup {
	background-color: rgba(0, 0, 0, .2);
	backdrop-filter: blur(4px);
}

a, code, .task-popup-flag-input, .task-popup-flag-submit {
	filter: invert();
}
