{% extends "main.html" %}

	{% block head -%}
		<style>
			a {
				color: black;
				text-decoration: none;
			}

			a:hover {
				text-decoration: underline;
			}
		</style>
	{%- endblock %}

	{% block title -%}
		[Admin] Panel
	{%- endblock %}

	{% block content -%}
		<ul>
			<li><a href="{{ url_for('admin_restart') }}">Restart</a></li>
			<li><a href="{{ url_for('admin_reload_tasks') }}">Reload taskset</a></li>
			<br>
			<li><a href="{{ url_for('admin_create_user') }}">Create user</a></li>
			<li><a href="{{ url_for('admin_edit_user') }}">Edit user</a></li>
			<li><a href="{{ url_for('admin_delete_user') }}">Delete user</a></li>
			<li><a href="{{ url_for('admin_reset_password') }}">Reset user password</a></li>
			<li><a href="{{ url_for('admin_set_solved') }}">Set if task is solved for user</a></li>
			<li><a href="{{ url_for('admin_get_flag') }}">Get flag for user</a></li>
			<li><a href="{{ url_for('admin_subs_user') }}">Substitute user</a></li>
		</ul>
	{%- endblock %}
