<!DOCTYPE html>

<html>
	<head>
		{%- for font in ('Nunito', 'OpenSans', 'OpenSansCondensedLight') -%}
			{% for charset in ('latin', 'cyrillic') %}
		{# -#}		<link rel="preload" href="{{ url_for('static', filename='fonts/{font}_{charset}.woff2'.format(font=font, charset=charset)) }}" as="font" crossorigin>
			{%- endfor %}
		{%- endfor %}
		<link rel="icon" href="/static/favicon.ico">
		<link rel="stylesheet" href="{{ url_for('fonts_css') }}">
		{% if g.custom_css %}<link rel="stylesheet" href="{{ url_for('custom_css') }}">{% endif %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% if g.night %}<meta name="theme-color" content="#111">{% endif %}

		<title>Sctf by Sdore</title>

		<style>
			body {
				background-color: #fafafa;
				font-family: 'Open Sans';
			}

			#logo {
				font-family: 'Nunito', 'Ubuntu', sans-serif;
				margin: 0px;
			}
		</style>

		<script>
			function onload() {}
		</script>

		{% block base_head %}{% endblock %}

		{% if g.night %}<link rel="stylesheet" href="{{ url_for('static', filename='night.css') }}">{% endif %}
	</head>

	<body onload="onload()">
		<header>
			<h1 style="margin: 4px;"><span id="logo">{% block title %}Sctf{% endblock %}</span>{% block header %}{% endblock %}</h1>
		</header>

		{%- with messages = get_flashed_messages() %}
			{%- if messages %}

		{# -#}		<div>
					{%- for message in messages %}
			{# -#}			<p>{{ message }}</p>
					{%- endfor %}
		{# -#}		</div>
			{%- endif %}
		{%- endwith %}

		{% block body %}{% endblock %}
	</body>
</html>

<!-- by Sdore, 2021 -->
