{% extends "base.html" %}

	{% block title -%}
		Login
	{%- endblock %}

	{% block header -%}
		<font size="4"> | <a href="{{ url_for('register') }}">Register</a> | <a href="{{ url_for('scoreboard') }}">Scoreboard</a></font>
	{%- endblock %}

	{% block body -%}
		<form action="" method="post" name="login">
			{{ form.hidden_tag() }}
			<p>{{ form.login(placeholder=form.login.label.text) }}</p>
			<p>{{ form.password(placeholder=form.password.label.text) }}</p>
			<p>{{ form.remember_me }} {{ form.remember_me.label }}</p>
			<p><input type="submit" value="Login"></p>
		</form>
	{%- endblock %}
