{% extends "main.html" %}

	{% block head -%}
		<style>
			a {
				color: black;
				text-decoration: none;
			}

			a:hover {
				text-decoration: underline;
			}
		</style>
	{%- endblock %}

	{% block title -%}
		User {% if g.user.admin %}#{{ u.id }} {% endif %}<code style="color: initial;">{{ u.nickname }}</code> {% if u.admin %}<span title="admin">&star;</span>{% endif %}
	{%- endblock %}

	{% block header -%}
		<font size="4"> | <a href="{{ url_for('index') }}">Tasks</a> | <a href="{{ url_for('scoreboard') }}">Scoreboard</a>{% if u.id == g.user.id %} | <a href="{{ url_for('change_password') }}">Change password</a>{% endif %}</font>
	{%- endblock %}

	{% block content -%}
		{% if g.user.admin -%}
			<ul>
				<li><a href="{{ url_for('admin_edit_user', user=u.id) }}">[Admin] Edit</a></li>
				<li><a href="{{ url_for('admin_delete_user', user=u.id) }}">[Admin] Delete</a></li>
				<li><a href="{{ url_for('admin_reset_password', user=u.id) }}">[Admin] Reset password</a></li>
				<li><a href="{{ url_for('admin_set_solved', user=u.id, task='') }}">[Admin] Set if task is solved for this user</a></li>
				<li><a href="{{ url_for('admin_get_flag', task='', user=u.id) }}">[Admin] Get flag for this user</a></li>
				<li><a href="{{ url_for('admin_subs_user', user=u.id) }}">[Admin] Log in as this user</a></li>
			</ul>
			<h2>E-mail: {{ u.email }}</h2>
			{% if u.discord_id %}<h2>Discord id: {{ u.discord_id }}</h2>{% endif %}
		{%- endif %}
		<h2>Score: {{ u.score }}</h2>
		<b>Solved tasks:</b>
		{% set tasks = g.builtins.sorted(g.taskset.tasks.values(), key=g.operator.attrgetter('cost'), reverse=True) -%}
		{% set solved = u.solved.split(',') -%}
		<ul>
			{% for i in tasks -%}
				{% if i.id in solved -%}
					<li><a href="#{{ i.id }}" onclick="task_popup_show('{{ i.id }}')">{{ i.title }}</a> | {{ i.scoring }}</li>
			{# -#}	{% endif %}
			{%- else %}
				(none)
			{%- endfor %}
		</ul>
	{%- endblock %}
